* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}



/* Begin of styling for search for city */
#mainheader {
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    background-image: linear-gradient(to right, #1989B9, darkblue);
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
#main {
    display: flex;
}
#searchcont {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 10px;
    width: 25%;
}
#citysearch {
    font-size: 30px;
    margin-top: 10px;
    font-weight: bold;
}
#city {
    width: 100%;
    height: 60px;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 10px;
}
#searchbtn {
    width: 100%;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: lighter;
    background-color: #56b3ea;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
#searchbtn:hover{
    background-color: #1989B9;
}
#searchbtn:focus{
    outline:none;
    border: none;
}
hr {
    margin-top: 4px;
    margin-bottom: 4px;
    height: 7px;
    background-color: lightgrey;
    border: none;
}
ul {
    padding-inline-start: 0px;
}
li {
    width: 100%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px;
    background-color: lightgrey;
    border: none;
    color: black;
    border-radius: 10px;
    list-style: none;
    text-align: center;
    padding-inline-start: 0px;
    line-height: 55px;
}
/* End of styling for search for city */


/* Begin section for current day */
#currentday {
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 40px;
    display: none;
}
#location {
    font-size: 30px;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}
#temp {
    margin: 20px;
    font-size: 20px;
    font-weight: lighter;
}
#wind {
    margin: 20px;
    font-size: 20px;
    font-weight: lighter;
}
#humidity {
    margin: 20px;
    font-size: 20px;
    font-weight: lighter;
}
#uvindex {
    margin: 15px;
    padding: 8px;
    width: 150px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: lighter;
}
#img {
    vertical-align: middle;
    margin-left: 8px;
}

#fivedayforecast{
    margin: 20px;  
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#forecastheader{
    display: none;
    margin: 20px;  
    font-size: 30px;
}
.card {
    background-color: #384A6A;
    margin-right: 25px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;
    color: white;
}
#cardDate {
    font-size: 25px;
    margin: 10px;
    font-weight: bold;
}

#cardTemp {
    font-size: 20px;
    margin: 10px;
}
#cardWind {
    font-size: 20px;
    margin: 10px;
}
#cardHumidity {
    font-size: 20px;
    margin: 10px;
}
.cityBtn {
    border:none;
    cursor: pointer;
    background-color: lightgrey;
    width: 100%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px;
    background-color: lightgrey;
    border: none;
    color: black;
    border-radius: 10px;
    list-style: none;
    text-align: center;
    padding-inline-start: 0px;
    line-height: 55px;
}
.cityBtn:focus {
    border: none;
    outline: none;
}
.cityBtn:hover {
    background-color: darkgrey;
}
